@charset "UTF-8";

/* SUMMARY
--------------------------
*  fonts
*  global rules
*  inputs layout
*  Login Box
*  Home
*
*/



/* ---- Fonts ---- */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu-Regular'),
       url('../fonts/ubuntu-regular.woff') format('woff');
}

@font-face{
  font-family: "Ubuntu-Bold";
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face{
  font-family: "Ubuntu-Light";
  src: url(../fonts/Ubuntu-Light.ttf);
}



/* ---- Global Rules ---- */
*{
  font-family: "Ubuntu-Regular", "Helvetica", "Arial" !important;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
}

.max-height{
  height: 100%;
}

.max-width{
  width: 100%;
}

.top-10{
  margin-top: 10px;
}

.top-40{
  margin-top: 40px;
}



/* ---- inputs layout ---- */




/* ---- Login Box ---- */
#login-box{
  background-color: rgba(236, 240, 241,0.6);
  border-radius: 30px;
  padding: 30px 30px 30px 30px;
}



/* ---- Home ---- */
#home-background{
  height: 100%;
  width: 100%;
  background-image: url(../img/live.jpg);
  background-size: cover;
  background-position: center;
}

#tech-background{
  height: 100%;
  width: 100%;
  background-image: url(../img/live.jpg);
  background-size: cover;
  background-position: center;
}

.fff{
  color: #FFF;
}

.centred{
  padding-top: 20%;
  text-shadow: 1px 1px 4px black; 
}
